@media only screen and (max-width: 1151px) {
    .what_we_do .d-flex {
        justify-content: center;
    }

    .need_photo h2 {
        margin-right: 12px;
        margin-left: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    .clients .clients_list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 980px) {
    header nav ul {
        display: block;
    }
    header nav ul li {
        margin-bottom: 12px;
    }
    .clients .clients_list a {
        flex-wrap: wrap;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    header nav ul li {
        margin-left: 12px;
    }
}

@media only screen and (max-width: 668px) {
    .main_banner h3 {
        font-size: 10px;
    }
    .main_banner h1 {
        font-size: 36px;
        margin-bottom: 12px;
    }
    .main_banner p {
        font-size: 10px;
        padding-left: 12px;
        padding-right: 12px;
    }
    header nav ul li {
        margin-left: 5px;
    }
    header nav ul li a {
        font-size: 10px;
    }
    .clients h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .clients h3 {
        font-size: 18px;
        margin-bottom: 80px;
    }
    .need_photo h2 {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .need_photo h3 {
        font-size: 10px;
    }
}

@media only screen and (max-width: 455px) {
    .main_banner h1 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .main_banner p {
        font-size: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media only screen and (max-width: 403px) {
    header nav ul li:last-of-type a {
        font-size: 10px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: #000000;
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 14px;
        padding: 8px 18px;
    }
}

@media only screen and (max-width: 375px) {
    header {
        padding: 12px;
    }
    header .container {
        padding-left: 12px;
        padding-right: 12px;
    }
    .main_banner p {
        font-size: 0px;
    }
    .information article h3 {
        font-size: 12px;
        padding-right: 22px;
        padding-left: 22px;
    }
    .information article p {
        font-size: 12px;
        padding-right: 22px;
        padding-left: 22px;
    }
    .widget_right_bottom {
        display: block;
    }
}

@media only screen and (max-width: 328px) {
    header nav ul li:last-of-type a {
        font-size: 8px;
        line-height: 18px;
        letter-spacing: 0.4px;
        color: #000000;
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 14px;
        padding: 8px 18px;
    }
    .what_we_do{
        padding: 48px 0 24px;
    }
    .what_we_do h2 {
        font-size: 18px;
        padding-top: 48px;
        padding-bottom: 12px;
    }
    .what_we_do h4 {
        font-size: 10px;
        padding-bottom: 20px;
    }
    .what_we_do article h5{
        font-size: 10px;
    }

    .what_we_do article p{
        font-size: 10px;
    }
    .get_in_touch {
        font-size: 12px;
        line-height: 14px;
    }
    .get_in_touch:before {
        width: 20px;
        height: 20px;
    }
}