@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding: 24px;
    background-color: #181818;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 34px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav li a {
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

header nav ul li:first-of-type a {
    font-size: 12px;
}

header nav ul li:last-of-type a {
    font-family: 'poppinsregular';
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 28px;
}

.main_banner {
    height: calc(100vh - 82px);
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}

.main_banner .container {
    max-width: 580px;
    text-align: center;
}

.main_banner h3 {
    font-family: 'poppinsregular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1 {
    font-family: 'poppinsregular';
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.main_banner p {
    font-family: 'poppinsregular';
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.information {
    background-size: cover;
    min-height: 680px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sunset {
    background-image: url("../images/mount.jpg");
}

.monstera {
    background-image: url("../images/monstera.jpg");
}

.himalayas {
    background-image: url("../images/himalayas.jpg");
}

.information article {
    max-width: 298px;
    margin-right: 62px;
}

.information article h3 {
    font-family: 'poppinsregular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.information article p {
    font-family: 'poppinsregular';
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.need_photo {
    background-color: black;
}

.need_photo .container {
    padding-top: 115px;
    padding-bottom: 108px;
    text-align: center;
}

.need_photo h2 {
    font-family: 'poppinsregular';
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.need_photo h3 {
    font-family: 'poppinsregular';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 12px;
}

.get_in_touch {
    font-family: 'poppinsregular';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
}

.get_in_touch:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}